<!DOCTYPE html>
<html>

<head>

<!-- <meta charset="ISO-8859-1"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

<title>Agenda LucaTIC Grupo4</title>

</head>

<body>

	<img src="../img/img principal.jpg" height="42" width="42">
	<div class="container">
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Bienvenid@</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Listado </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="../userList">Persona</a> <a
								class="dropdown-item" href="../employeeList">Empleado</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../categoryList">Categoria</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../addressList">Direccion</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../departamentList">Departamento</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="../phoneList">Telefono</a>
						</div></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<!-- navbar end  -->

		<!-- jumbotron start  -->

		<div class="jumbotron table-responsive">
			<div class="card" style="width: 90%;">

				<div class="card-body">
					<h2 class="card-title">Usuario</h2>
					<p class="h3" th:text="ID + ': ' +${user[0]}"></p>
					<p class="h4" th:text="Nombre + ': ' +${user[1]}"></p>
					<p class="h5" th:text="Apellido1 + ': ' + ${user[2]}"></p>
					<p class="h5" th:text="Apellido2 + ': ' + ${user[3]}"></p>
					<p class="h5" th:text="DNI + ': ' +${user[4]}"></p>
					<p class="h5"
						th:text="FechaNacimiento + ': ' + ${#dates.format(user[5],'dd-MM-yyyy')}"></p>
				</div>

				<div class="card-body">
					<h4 class="card-title">Perfil</h4>
					<p class="h5" th:text="Categoria + ': ' + ${user[6]}"></p>
					<p class="h5" th:text="Puesto + ': ' + ${user[7]}"></p>
					<p class="h5" th:text="Descripcion + ': ' + ${user[8]}"></p>
					<p class="h5" th:text="IdEmpleado + ': ' + ${user[9]}"></p>
					<p class="h5" th:text="Salario + ': ' + ${user[10]}"></p>
					<p class="h5"
						th:text="FechaAlta + ': ' + ${#dates.format(user[11],'dd-MM-yyyy')}"></p>
				</div>

				<div class="card-body">
					<p class="h5">Telefono</p>
					<ul class="list-group list-group-flush">
						<th:block th:each="i:  ${#numbers.sequence(0, phonescount)}">
							<li class="list-group-item" th:text="${phones[i][3]}"></li>
						</th:block>
					</ul>
				</div>

				<div class="card-body">
					<p class="h5">Direccion</p>
					<table class="table table-striped">
						<th:block th:each="address : ${addresses}">
							<tr scope="row">
								<td scope="col" th:text="${address[0]}"></td>
								<td scope="col" th:text="${address[1]}"></td>
								<td scope="col" th:text="${address[2]}"></td>
								<td scope="col" th:text="${address[3]}"></td>
							</tr>
						</th:block>
					</table>
				</div>
				<div class="card-body">
					<a href="#" class="btn btn-primary">Modificar</a> <a href="#"
						class="btn btn-danger">Eliminar</a>
				</div>
			</div>
		</div>

		<!-- jumbotron end  -->

		<!-- footer start  -->

		<footer class="footer">
			<p>© 2016 Company, Inc.</p>
		</footer>

		<!-- footer start  -->
	</div>

</body>

</html>