<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

<title>Agenda LucaTIC Grupo4</title>

</head>

<body>


	<div class="container">
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Listado </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="userList">Persona</a> <a
								class="dropdown-item" href="employeeList">Empleado</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="categoryList">Categoria</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="addressList">Direccion</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="departamentList">Departamento</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="phoneList">Telefono</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Añadir </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="addUser">Persona</a>
						</div></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<!-- navbar end  -->
		<!-- FORMULARIO -->
		<br /> <br />
		<h1>INTRODUCE TUS DATOS PARA PODER HACER COSAS</h1>
		<br /> <br />

		<sping:url value="/account" var="account" />
		<form class="justify-content-center text-center align-middle"
			action="$(account)" method="post">





			<div class="  input-group-prepend w-50 mb-3 ">
				<div class=" text-center input-group-text ">
					<i class="fas fa-address-book">Name</i>
				</div>

				<input type="text" class="form-control w-50 align-middle"
					id="inlineFormInputGroupUsername2" maxlength=45 name="nombre">
			</div>



			<div class="input-group-prepend w-50 mb-3 align-middle">
				<div class="input-group-text align-middle">
					<i class="fas fa-address-book align-middle">Apellido 1</i>
				</div>

				<input type="text" class="form-control w-50 align-middle"
					id="inlineFormInputGroupUsername2" maxlength=45 name="apellido1">
			</div>



			<div class="input-group-prepend w-50 mb-3 aling-middle">
				<div class="input-group-text aling-middle">
					<i class="fas fa-address-book aling-middle">Apellido 2</i>
				</div>

				<input type="text" class="form-control w-50 aling-middle"
					id="inlineFormInputGroupUsername2" maxlength=45 name="apellido2">
			</div>


			<div class="input-group-prepend w-50 mb-3 align-middle">
				<div class="input-group-text align-middle ">
					<i class="fas fa-address-book">DNI</i>
				</div>

				<input type="text" class="form-control w-50 align-middle"
					id="inlineFormInputGroupUsername2" maxlength=45 name="apellido3">
			</div>

			<div class="input-group-prepend w-50 mb-3 align-middle">
				<div class="input-group-text align-middle ">
					<i class="fas fa-address-book">Fecha Nacimiento</i>
				</div>

				<input type="text" class="form-control w-50 align-middle"
					id="inlineFormInputGroupUsername2" maxlength=45 name="apellido3">
			</div>


			<div class="form-group align-middle">
				<button type="button" class="btn btn-outline-primary">Enviar</button>
			</div>




		</form>
</body>
</html>