<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{css/estilo_principal.css}">

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

<title>Agenda LucaTIC Grupo4</title>

</head>

<body class="colorc">


	<div class="container">
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-warning">
			<a class="navbar-brand" href="#"><img
				src="img/fondo_principal.png" alt="YO SOY TU PADRE" height="40px"
				width="40px" /></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Listado </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="userList">Persona</a> <a
								class="dropdown-item" href="employeeList">Empleado</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="categoryList">Categoria</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="addressList">Direccion</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="departamentList">Departamento</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="phoneList">Telefono</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Añadir </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="addUser">Persona</a>
						</div></li>

					</li>
				</ul>
		</nav>

		<!-- navbar end  -->

		<!-- jumbotron start  -->

		<div class="jumbotron table-responsive">
			<table class="table table-striped table-hover">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
				</tr>
				<th:block th:each="departament : ${departments}">
					<tr>
						<td scope="row" th:text="${departament[0]}"></td>
						<td th:text="${departament[1]}"></td>
					</tr>
				</th:block>
			</table>
		</div>

		<!-- jumbotron end  -->

		<!-- footer start  -->

		<footer class="footer">
			<p>Â© 2016 Company, Inc.</p>
		</footer>

		<!-- footer start  -->
	</div>

</body>

</html>